h1 {
    text-align: center;
    font-style: sans-serif;
    border: solid 5px black;
    border-radius: 200px;
    background-color: rgb(167, 98, 231);
}
h2 {
    font-style: italic;
    color: rgb(233, 112, 112);
    text-align:center;
}

.column {
    width: auto;
    float:left;
}

img {
    max-width: 500px;
    max-height: 250px;
}

li.cat {
    color: blueviolet;
}

li.dog {
    color:cadetblue;
}